body {
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    text-align: center;
    font-size: 10em;
    margin-bottom: 0;
    font-family: "Besley";
}

h2 {
    text-align: left;
    font-size: 4em;
}

#social-media-links {
    text-align: center;
}

.social-media-link {
    width: 4em;
    height: 4em;
    aspect-ratio: 1;
    padding: 0;
}
