@font-face{
  font-family: "Phantom";
  src: url("../fonts/phantom.ttf") format("truetype"); /* Establishes new Phantom of the Opera style font */
}

header {
    padding: 1em;
    border-bottom: 5px solid black;
    font-family: "Trykker", serif;
    background: #01050e; /* Darker blue seems right for the sticky header! */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);

    /* Lock the header to the top of the screen. */
    position: sticky;
    top: 0;
    width: 100%; /* Fit for mobile screen width */
    z-index: 67;
}

header * {
    vertical-align: middle;
}

header span {
    margin-left: 0.2em;
    font-size: 2em;
}

header img {
    height: 2.5em;
}

#main-page-contents {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

body {
    background: #0c111b; /*Darker background color, may change in final background */
    margin: 0;
    color: white;
}

h2, h3 {
    font-family: "Trykker", serif;
}

h1 {
    font-family: "Phantom", serif; /* Custom Phantom of the Opera font */
    text-align: center;
    line-height: 1.3em;
    letter-spacing: 5px;
    text-shadow: -6px 7px 15px rgba(112, 95, 100, 0.4);
    margin: .2em 0em;
    padding-top: 20px;
    padding-bottom: 15px;
}

h2 {
    text-align: center;
    font-size: 2.3em;
    font-weight: bold; /* Testing to see if it can recommit */
}

p {
    font-size: 24px;
    font-family: "Yrsa";
}

ul {
    padding: 0;
    display: inline-block;
}



/* social media */

#social-media-links {
    text-align: center;
}

.social-media-link {
    width: 4em;
    height: 4em;
    aspect-ratio: 1;
    padding: 0;
    margin: 0px 5px;
}



/* info section */

#party-info {
    text-align: center;
}

#party-platform, #party-other {
    display: inline-block;
    margin: 50px;
    padding: 20px;
    text-align: center;
}

.info-heading {
    text-align: center;
}



/* leader section */

.party-leaders {
  text-align: center;
}

.president {

}

.vice-p {

}

.chair {
}

.f-chair {

}

.d-chair {

}

#leader-info {
  margin: auto;
  width: 75%;
}

#leader-info p {
  text-wrap: wrap;
}


/* photo section */

.party-photos {

}

.party-videos {

}


/* calendar section */

.calendar {

}



/* navbar */

.navbar {
  display: inline-block;
  align-items: center;
  gap: 20px;
}

.dropdown {
  position: right;
}

#menu-toggle:checked ~ .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  min-width: 160px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  z-index: 1000;
}

.dropdown-content a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: black;
}

.dropdown-content a:hover {
  background-color: #eee;
}

.dropdown:click .dropdown-content {
  display: block;
}





/* mobile compatibility */

/* larger screens */
@media screen and (min-width: 2560px) {
    h1 {
      font-size: 6em;
    }
    h2 {
      font-size: 2.6em;
    }
    iframe {
        width="1920";
        height="1080";
    }

    #party-platform, #party-other {
        margin: 70px;
        padding: 25px;
    }
}
/* medium screens */
@media screen and (max-width: 2559px) and (min-width: 1920px) {
    h1 {
      font-size: 5.5em;
    }
    h2 {
      font-size: 2.3em;
    }
    iframe {
        width="1600";
        height="900";
    }

    #party-platform, #party-other {
        margin: 50px;
        padding: 20px;
    }
}
/* smaller screens */
@media screen and (max-width: 1919px) and (min-width: 1024px) {
    h1 {
      font-size: 4em;
    }
    h2 {
      font-size: 2em;
    }
    iframe {
        width="1280";
        height="720";
    }

    #party-platform, #party-other {
        margin: 40px;
        padding: 17px;
    }
}
/* phone screens */
@media screen and (max-width: 1023px) {
    h1 {
      font-size: 3em;
    }
    h2 {
      font-size: 1.8em;
    }
    iframe {
        width="560";
        height="315";
    }

    #party-platform, #party-other {
        margin: 30px;
        padding: 15px;
    }
}
