body {
    margin-left: 10%;
    margin-right: 10%;
}

h1, h2, h3 {
    font-family: "Trykker", serif;
}

h1 {
    text-align: center;
    line-height: 1.3em;
    letter-spacing: 5px;
    font-size: 6em;
    text-shadow: -6px 7px 7px gray;
    margin-bottom: .2em;
}

h2 {
    text-align: left;
    font-size: 2.5em;
}

p {
    font-size: 24px;
    font-family: "Yrsa";
}

#social-media-links {
    text-align: center;
}

.social-media-link {
    width: 4em;
    height: 4em;
    aspect-ratio: 1;
    padding: 0;
}
