@font-face{
  font-family: "Phantom";
  src: url("../misc/phantom.ttf") format("truetype"); /* Establishes new Phantom of the Opera style font */
  } 

header {
    padding: 1em;
    border-bottom: 5px solid black;
    font-family: "Trykker", serif;
    background: #0d121c; /* Darker blue seems right for the sticky header! */
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.75);

    /* Lock the header to the top of the screen. */
    position: sticky;
    top: 0;
    z-index: 67;
}

header * {
    vertical-align: middle;
}

header span {
    margin-left: 0.2em;
    font-size: 2em;
}

header img {
    height: 2.5em;
}

#main-page-contents {
    margin-left: 10%;
    margin-right: 10%;
}

body {
    background: #210c12; /*Darker background color, may change in final background */
    margin: 0;
    color: white;
}

h2, h3 {
    font-family: "Trykker", serif;
}

h1 {
    font-family: "Phantom", serif; /* Custom Phantom of the Opera font */
    text-align: center;
    line-height: 1.3em;
    letter-spacing: 5px;
    font-size: 6em;
    text-shadow: -6px 7px 7px rgba(112, 95, 100, 0.4);
    margin-bottom: .2em;
}

h2 {
    text-align: left;
    font-size: 2.5em;
}

p {
    font-size: 24px;
    font-family: "Yrsa";
}

#social-media-links {
    text-align: center;
}

.social-media-link {
    width: 4em;
    height: 4em;
    aspect-ratio: 1;
    padding: 0;
    margin: 0px 20px;
}
