@font-face {
    font-family: 'SloopScriptPro'; /* Name you will use in your CSS */
    src: url('fonts/Sloop ScriptOne Regular.ttf');
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

:root {
    /* Main colors */
    --party-color-black: #0C090B;
    --party-color-navy: #161F30;
    --party-color-blue: #09264C;
    --party-color-red: #671A29;

    /* Accent colors */
    --party-color-gold: #EAAA52;
    --party-color-silver: #f1f1f1;
    --party-color-cream: #EEE8DC;
}

html {
  overflow-x: hidden;
  scrollbar-color: var(--party-color-navy) #040811;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
    text-align: left;
    padding: 1em;
    border-bottom: 5px solid black;
    font-family: "Belleza", serif;
    background: #14161F; /* Darker blue seems right for the sticky header! */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);

    /* Lock the header to the top of the screen. */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Fit for mobile screen width */
    z-index: 67;
}

header * {
    vertical-align: middle;
}

header span {
    margin-left: 0.2em;
    font-size: 2em;
}

header a {
    text-decoration: none;
    color: white;
}

header img {
    height: 2.5em;
}

footer {
  text-align: center;
  align-items: center;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  border-top: 5px solid black;
  font-family: "Ovo", serif;
  background: #14161F;
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.4);
  min-width: 100vw;
  font-size: 0.95em;
  color: white; /* Added for readability against dark background */
}

#main-page-contents {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

li {
  margin: 0;
	padding: 10px 0 10px 60px;
  text-align: left;
	list-style: none;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 35px;
}

.divider {
  padding-top: 10px;
  width: 50px;
  filter: invert(1) drop-shadow(5px 5px 5px #000000);
  animation: floating 3s ease-in-out infinite;
}

.banner {
  box-shadow: 0 0 40px 40px #09101d inset;
  background-image: url("img/group_photos/PhantomBanner.webp");
  background-size: 100% auto;
  background-repeat: no-repeat;
  opacity: 0.7;
  top: 60px;
  position: absolute;
  height: 40vw;
  width: 100%;
  margin: 0;
  z-index: -1000;
}

.banner img {
  opacity: 0;
}

body {
  width: 100%;
    background: #09101d; /*Darker background color, may change in final background */
    color: white;
    text-align: center;
}

h2, h3, h4 {
    font-weight: lighter;
    font-family: "Belleza", serif;
}

h1 {
    font-weight: lighter;
    font-family: "Sloop Script Pro", serif; /* Custom Phantom of the Opera font */
    color: var(--party-color-silver);
    text-align: center;
    line-height: 1.3em;
    letter-spacing: 5px;
    text-shadow:
    -1px -1px 15px #000,
     1px -1px 15px #000,
    -1px  1px 15px #000,
     1px  1px 15px #000; /* Black shadows around the text */
    margin: .2em 0em;
    padding-top: 20px;
}

h2 {
    text-align: center;
    font-size: 2.5em;
}

p {
    font-size: 24px;
    font-family: "Ovo";
}

ul {
    padding: 0;
    display: inline-block;
}



/* social media */

#social-media-links {
    text-align: center;
}

.social-media-link {
  text-decoration: none;
    width: 4em;
    height: 4em;
    aspect-ratio: 1;
    padding: 0;
    margin: 0px 15px;
}



/* info section */

#party-info {
    text-align: center;
}

#party-platform, #party-other {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.info-heading {
    text-align: center;
    text-shadow:
    -1px -1px 10px #000,
     1px -1px 10px #000,
    -1px  1px 10px #000,
     1px  1px 10px #000; /* Black shadows around the text */
}

.table-contents {
  text-align: center;
}

.table-contents th {
  padding: 10px;
  font-size: 24px;
  font-family: "Ovo";
}



/* leader section */

.party-leaders p {
  text-align: left;
}

.chair {
    border: solid 2px white;
    border-radius: 30px;
    margin: 30px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

.president {
    border: solid 2px white;
    border-radius: 30px;
    margin: 30px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

.vice-p {
    border: solid 2px white;
    border-radius: 30px;
    margin: 30px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

.d-chair {
    border: solid 2px white;
    border-radius: 30px;
    margin: 30px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

.f-chair {
    border: solid 2px white;
    border-radius: 30px;
    margin: 30px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

.leader-info {
  margin: auto;
  width: 75%;
}

.leader-info p {
  text-wrap: wrap;
}

.party-leaders img {
  width: 65%;
  border-radius: 30px;
}



/* photo section */

.party-photos {
  column-count: 2;
  column-gap: 10px;
  line-height: 0;
}

.party-photos img {
  /* width: 100%; */
  /* display: inline-flex; */
  /* vertical-align: middle; */

  border: solid 2px white;
  /* border-radius: 20px; */
  /* margin: 10px; */

  width: 100% !important;
  height: auto !important;
  margin-bottom: 10px;

  break-inside: avoid;
}

.party-videos {

}


/* calendar section */

#calendar {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    border-collapse: collapse;
    table-layout: fixed;

}

.calendar-cell {
    aspect-ratio: 1;
}

#calendar th {
    color: var(--party-color-gold);
    font-weight: bold;
    font-size: 1.5em;
}

#calendar .calendar-number {
    font-weight: bold;
    font-size: 1.5em;
}

#calendar .calendar-cell-with-event {
    color: var(--party-color-gold);
}

#calendar th, #calendar td {
    padding: 10px;
}

#calendar td {
    margin: 0;
    border: solid var(--party-color-silver);
    width: calc(100% / 7);
    text-align: center;
    vertical-align: top;
}

#calendar .empty-cell {
    border: none;
}



/* navbar replacement */

.navbar {
  display: inline-block;
  align-items: center;
  gap: 20px;
  transition: all 1s ease-in-out;
}

.dropdown {
  position: right;
  opacity: 1;
}

.dropdown-icon {
  filter: invert(1);
  height: 1.25em;
  margin-right: 0.5em;
  margin-left: -0.25em;
  aspect-ratio: 1;
}

.dropdown-content {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  display: block; 
  position: absolute;
  top: 100%;
  right: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  min-width: 160px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  z-index: 1000;
  transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out, visibility 0.5s ease-in-out;
}


#menu-toggle:checked ~ .dropdown-content {
  visibility: visible;
  opacity: 1;
  max-height: 500px;
}

.menu-closer {
  filter: invert(1);
  display: block;
  transition: all 0.5s ease-in-out;
  position: absolute; 
  top: 20px;
  right: 5%;
  width: 30px;
  transform: rotate(90deg);
  opacity: 0;
}

.menu-btn {
  filter: invert(1);
  display: block;
  transition: all 0.5s ease-in-out;
  position: absolute; 
  top: 20px;
  right: 5%;
  overflow: visible;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#menu-toggle:checked + .menu-btn {
  display: block;
  position: absolute;
}

#overlay {
  opacity: 0;
  visibility: hidden;
    display: block; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
    /* Optional: add a background color for visibility/styling */
    background-color: rgba(0, 0, 0, 0.4); 
    transition: all 0.5s ease-in-out;
    z-index:-999;
}

#menu-toggle:checked ~ #overlay {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  display: block;
  z-index: -999;
}

.dropdown-content a {
    transition: all 0.5s ease-in-out;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    opacity: 1;
}

.dropdown-content a:hover {
    transition: all 0.5s ease-in-out;
    background-color: #eaa352bb;
    opacity: 0.;
    text-shadow: -6px 7px 15px rgba(0, 0, 0, 0.986);
}

.dropdown:click .dropdown-content {
  transition: all 1s ease-in-out;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  display: block;
}






/* mobile compatibility */

/* larger screens */
@media screen and (min-width: 2560px) {
    .title-sub {
      position:relative;
      top: 180px;
      left: 40px;
      letter-spacing: 9px;
      font-size: 2.1em;
      text-shadow:
    -1px -1px 25px #000,
     1px -1px 25px #000,
    -1px  1px 25px #000,
     1px  1px 25px #000; /* Black shadows around the text */
    }
    h1 {
      font-size: 14em;
    }
    h2 {
      font-size: 3.2em;
    }
    iframe {
        width: 1920;
        height: 1080;
    }

    .party-leaders img {
      width: 65%;
    }

    #party-platform, #party-other {
        margin: 70px;
        padding: 25px;
    }
}
/* medium screens */
@media screen and (max-width: 2560px) and (min-width: 1920px) {
    .title-sub {
      position:relative;
      top: 160px;
      left: 39px;
      letter-spacing: 9px;
      font-size: 1.9em;
      text-shadow:
    -1px -1px 25px #000,
     1px -1px 25px #000,
    -1px  1px 25px #000,
     1px  1px 25px #000; /* Black shadows around the text */
    }
    h1 {
      font-size: 12em;
    }
    h2 {
      font-size: 2.8em;
    }
    iframe {
        width: 1600;
        height: 900;
    }

    .party-leaders img {
        width: 65%;
    }

    #party-platform, #party-other {
        margin: 50px;
        padding: 20px;
    }
}
/* smaller screens */
@media screen and (max-width: 1919px) and (min-width: 1024px) {
    .title-sub {
      position:relative;
      top: 140px;
      left: 37px;
      letter-spacing: 9px;
      font-size: 1.8em;
      text-shadow:
    -1px -1px 25px #000,
     1px -1px 25px #000,
    -1px  1px 25px #000,
     1px  1px 25px #000; /* Black shadows around the text */
    }
    h1 {
      font-size: 10em;
    }
    h2 {
      font-size: 2.4em;
    }
    iframe {
        width: 1280;
        height: 720;
    }

   .party-leaders img {
        width: 55%;
   }

    #party-platform, #party-other {
        margin: 40px;
        padding: 17px;
    }
}
/* phone screens */
@media screen and (max-width: 1023px) {
    .title-sub {
      position:relative;
      top: 95px;
      left: 14px;
      letter-spacing: 5px;
      font-size: 1.2em;
      text-shadow:
    -1px -1px 25px #000,
     1px -1px 25px #000,
    -1px  1px 25px #000,
     1px  1px 25px #000; /* Black shadows around the text */
    }
    h1 {
      font-size: 6em;
    }
    h2 {
      font-size: 1.6em;
    }
    #calendar td {
      font-size: 0.6em;
      border: 1px solid var(--party-color-silver);
    }
    #main-page-contents {
      margin-left: 0;
      margin-right: 0;
    }
    iframe {
        width: 560;
        height: 315;
    }

    .party-leaders img {
        width: 90%;
    }
    .leader-info {
        width: 90%;
    }
    #party-platform, #party-other {
        margin: 30px;
        padding: 15px;
    }
    .menu-btn {
  top: 20px;
  right: 12%;
}
.menu-closer {
  top: 20px;
  right: 12%;
}
.banner {
  box-shadow: 0 0 40px 20px #09101d inset;
  background-image: url("img/group_photos/PhantomBanner.webp");
  background-size: 100% auto;
  background-repeat: no-repeat;
  opacity: 0.85;
  top: 70px;
  position: absolute;
  height: 40vw;
  width: 100%;
  margin: 0;
  z-index: -1000;
}
}
